doctype html
html(lang='pt-br' ng-app="APPNAMESLUG")
  head
    meta(charset="UTF-8")
    link(rel="icon" type="image/x-icon" href="assets/images/favicon.png")
    // build:css all.css
    link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="lib/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="assets/css/app.css")
    // endbuild
    
    // build:js all.js
    script(type="text/javascript" src="lib/lodash/dist/lodash.min.js")
    script(type="text/javascript" src="lib/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="lib/angular/angular.min.js")
    script(type="text/javascript" src="lib/angular-animate/angular-animate.min.js")
    script(type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript" src="init.angular.js")
    script(type="text/javascript" src="components/example/example.component.js")
    script(type="text/javascript" src="controllers/example/example.controller.js")
    script(type="text/javascript" src="directives/example/example.directive.js")
    // endbuild
    
    title <%= appDescription %>
  body
    .jumbotron
      .container.text-center        
        h1 Your HTML here
    .container
      .row
        .col-sm-6
          div(bordering="red") Directive example 
        .col-sm-6
          progress(percent="40")
